## Last changed: 2024-03-05 08:59:35 UTC
version 21.4R1.12;
system {
    host-name PE-1;
    root-authentication {
        encrypted-password "$6$AURQKHRC$oBHI4VB3EcG/qIFF0Y6GN08MpWV1frERbS/Y45aR6ydOirlThNWTWzDAdBxCaABz5Rxh9v7ik5/tOlp/k6mfk/"; ## SECRET-DATA
    }
    syslog {
        file interactive-commands {
            interactive-commands any;
        }
        file messages {
            any notice;
            authorization info;
        }
    }
    processes {
        dhcp-service {
            traceoptions {
                file dhcp_logfile size 10m;
                level all;
                flag packet;
            }                           
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                unnumbered-address lo0.0;
            }
            family mpls;
        }
    }
    ge-0/0/8 {
        unit 0 {
            family inet {
                address 192.168.10.254/24;
            }
        }
    }
    ge-0/0/9 {
        unit 0 {
            family inet {
                filter {                
                    input CLASSIFIER;
                }
                address 192.168.1.254/24;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                dhcp {
                    vendor-id Juniper-vmx-VM65E5A92149;
                }
            }
            family inet6 {
                dhcpv6-client {
                    client-type stateful;
                    client-ia-type ia-na;
                    client-identifier duid-type duid-ll;
                    vendor-id Juniper:vmx:VM65E5A92149;
                }
            }
        }
    }                                   
    lo0 {
        unit 0 {
            family inet {
                address 10.10.10.1/32;
            }
        }
    }
}
policy-options {
    policy-statement EXPORT-IBGP {
        term CUST-1 {
            from {
                route-filter 192.168.1.0/24 orlonger;
            }
            then accept;
        }
        inactive: term IPV4-UNICAST-VPN {
            from family inet-vpn;
            then accept;
        }
        term DEFAULT {
            then reject;
        }                               
    }
    policy-statement VRF-EXPORT-WASHINGMACHINE {
        term WASHINGMACHINE {
            from protocol direct;
            then {
                community add WASHINGMACHINE;
                accept;
            }
        }
    }
    policy-statement VRF-IMPORT-WASHINGMACHINE {
        term WASHINGMACHINE {
            from community WASHINGMACHINE;
            then accept;
        }
        term DEFAULT {
            then reject;
        }
    }
    community WASHINGMACHINE members target:65000:1;
}
class-of-service {
    forwarding-classes {                
        class ICMP queue-num 0 priority low;
    }
}
firewall {
    family inet {
        filter CLASSIFIER {
            term ICMP {
                from {
                    protocol icmp;
                }
                then {
                    count ICMP;
                    forwarding-class ICMP;
                }
            }
            term DEFAULT {
                then accept;
            }
        }
    }
}
routing-instances {
    WASHINGMACHINE {                    
        instance-type vrf;
        routing-options {
            static {
                route 192.168.2.0/24 next-hop 192.168.10.1;
            }
        }
        interface ge-0/0/8.0;
        route-distinguisher 65000:1;
        vrf-import VRF-IMPORT-WASHINGMACHINE;
        vrf-export VRF-EXPORT-WASHINGMACHINE;
        vrf-table-label;
    }
}
routing-options {
    router-id 10.10.10.1;
    flow {
        term-order standard;
    }
}
protocols {
    router-advertisement {
        interface fxp0.0;
    }                                   
    bgp {
        group IBGP {
            passive;
            family inet {
                unicast;
                flow;
            }
            family inet-vpn {
                unicast;
            }
            export EXPORT-IBGP;
            peer-as 65000;
            local-as 65000;
            allow 10.10.10.0/24;
        }
    }
    ldp {
        interface ge-0/0/0.0;
    }
    mpls {
        interface ge-0/0/0.0;
    }
    ospf {                              
        area 0.0.0.0 {
            interface lo0.0 {
                passive;
            }
            interface ge-0/0/0.0 {
                interface-type p2p;
            }
        }
    }
    lldp {
        interface all;
    }
}

[edit]
